services:
  # --------------------------------------------------------------------------------
  # FRONTEND
  # --------------------------------------------------------------------------------
  - type: web
    name: ti-frontend
    env: docker
    region: oregon
    plan: free

    dockerfilePath: ./frontend/Dockerfile
    envVars:
      - key: PORT
        value: 8501
      - key: API_GATEWAY_URL
        fromService:
          type: web
          name: ti-gateway
          property: hostport

  # --------------------------------------------------------------------------------
  # API GATEWAY
  # --------------------------------------------------------------------------------
  - type: web
    name: ti-gateway
    env: docker
    region: oregon
    plan: free

    dockerfilePath: ./services/api_gateway/Dockerfile
    envVars:
      - key: PORT
        value: 8000
      - key: EQUIPOS_SERVICE_URL
        fromService:
          type: web
          name: ti-equipos
          property: hostport
      - key: PROVEEDORES_SERVICE_URL
        fromService:
          type: web
          name: ti-proveedores
          property: hostport
      - key: MANTENIMIENTO_SERVICE_URL
        fromService:
          type: web
          name: ti-mantenimiento
          property: hostport
      - key: REPORTES_SERVICE_URL
        fromService:
          type: web
          name: ti-reportes
          property: hostport
      - key: AGENT_SERVICE_URL
        fromService:
          type: web
          name: ti-agent
          property: hostport

  # --------------------------------------------------------------------------------
  # MICROSERVICES
  # --------------------------------------------------------------------------------
  - type: web
    name: ti-equipos
    env: docker
    region: oregon
    plan: free

    dockerfilePath: ./services/equipos_service/Dockerfile
    envVars:
      - key: PORT
        value: 8001
      - key: POSTGRES_HOST
        sync: false
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false
      - key: POSTGRES_DB
        sync: false
      - key: POSTGRES_PORT
        value: 5432

  - type: web
    name: ti-proveedores
    env: docker
    region: oregon
    plan: free

    dockerfilePath: ./services/proveedores_service/Dockerfile
    envVars:
      - key: PORT
        value: 8002
      - key: POSTGRES_HOST
        sync: false
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false
      - key: POSTGRES_DB
        sync: false
      - key: POSTGRES_PORT
        value: 5432

  - type: web
    name: ti-mantenimiento
    env: docker
    region: oregon
    plan: free

    dockerfilePath: ./services/mantenimiento_service/Dockerfile
    envVars:
      - key: PORT
        value: 8003
      - key: POSTGRES_HOST
        sync: false
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false
      - key: POSTGRES_DB
        sync: false
      - key: POSTGRES_PORT
        value: 5432

  - type: web
    name: ti-reportes
    env: docker
    region: oregon
    plan: free

    dockerfilePath: ./services/reportes_service/Dockerfile
    envVars:
      - key: PORT
        value: 8004
      - key: POSTGRES_HOST
        sync: false
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false
      - key: POSTGRES_DB
        sync: false
      - key: POSTGRES_PORT
        value: 5432

  - type: web
    name: ti-agent
    env: docker
    region: oregon
    plan: free

    dockerfilePath: ./services/agent_service/Dockerfile
    envVars:
      - key: PORT
        value: 8005
      - key: POSTGRES_HOST
        sync: false
      - key: POSTGRES_USER
        sync: false
      - key: POSTGRES_PASSWORD
        sync: false
      - key: POSTGRES_DB
        sync: false
      - key: POSTGRES_PORT
        value: 5432
